<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/products/detail">Detail</a></li>
            <li><a href="/users/register">Registro</a></li>
            <li><a href="/users/login">Login</a></li>
        </ul>
    </nav>
</header>